<div class="inner cover">
  <h1 class="cover-heading">Interaction Notifier</h1>
  <p class="lead">Add an additional level of proctection for your patients by subscribing to the Drug Interaction Notifier.</p>
  <p>
    The Drug Interaction Notifier detects drug intaraction dangers for your patients and pushes proactive notifications, via email, sms, directly into your EHR, or potentially unlimited third party appliations utilizing Amazon AWS Simple Notification Service.
  </p>
  <p class="lead">
    <a href="/interactions/update_patient?patient_id=7" class="btn btn-lg btn-default">Run against test patient.</a>
  </p>
</div>